<h2>Criar Categoria</h2>
<hr />
@model SistemaVenda.Models.ClienteViewModel;

<form asp-controller="Cliente" asp-action="Cadastro" method="post">
    <input type="hidden" asp-for="Codigo" value="@Model.Codigo" id="codigo" />

    <div class="form-group">
        <div class="col-4">
            <label>Nome</label>
            <input asp-for="Nome" type="text" value="@Model.Nome" class="form-control" />
            <span asp-validation-for="Nome" class="text-danger"></span><br />

            <label>CPF/CNPJ</label>
            <input asp-for="CNPJ_CPF" type="text" value="@Model.CNPJ_CPF" class="form-control" />
            <span asp-validation-for="CNPJ_CPF" class="text-danger"></span><br />

            <label>Email</label>
            <input asp-for="Email" type="text" value="@Model.Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span><br />

            <label>Celular</label>
            <input asp-for="Celular" type="text" value="@Model.Celular" class="form-control" />
            <span asp-validation-for="Celular" class="text-danger"></span><br />
        </div>
    </div>
    <br />
    <button type="submit" class="btn btn-success">Salvar</button>
    <button type="button" class="btn btn-primary" onclick="Redirect()">Voltar</button>
    <button type="button" class="btn btn-light btn-light" onclick="Novo()">Limpar e Criar Novo</button>
    @if (Model.Codigo != null)
    {
        <button type="button" class="btn btn-danger" onclick="Excluir(@Model.Codigo)">Excluir</button>
    }
</form>

<script src="~/js/Cliente.js"></script> 
